{
  "extends": ["plugin:@-k/base"],
  "plugins": ["@-k"],
  "overrides": [
    {
      "files": [ "bin/*" ],
      "rules": {
        "no-console": "off",
        "no-continue": "warn"
      }
    }
  ]
}
