{
  "all": true,
  "reporter": [
    "html",
    "lcov",
    "text",
    "text-summary"
  ],
  "report-dir": "./coverage",
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "test/**/*",
    "examples/"
  ],
  "cache": true
}

